body{
    background-color: #093545;
}
.header h1{
    font-size: 550%;
    color: white;
    display: inline-block;
    font-weight: bold;
}
#head{
    text-align: center;
    margin-top: 5% ;
}

#mid{
    text-align: center;
    font-size: 150%;
    color: white;
}

#imgs1 { 
    display: flex;
    width: 50%;
    margin: 0 auto;

}

#imgs1 .imgs{

    /* margin-left: 280%;
    margin-top: 20%; */
    position: relative;
    margin: 0 auto;
    width: 100%;
    filter: grayscale(50%);
    
    padding-left: 100%;
    margin-top: 15%;
    
}
#imgs1 .imgs:hover{

    
    filter: grayscale(0%);
    border-radius: 10px;
}

img{
    height: 182.312px; 
    border: 2px solid #031e28;
    border-radius: 10px;
    
}

/* img:hover{
    border-radius: 20px;
} */